/* From Uiverse.io by wilsondesouza */
.link-Btn {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  background: #0274b3;
}

.link-svgIcon {
  transition-duration: 0.3s;
}

.link-svgIcon path {
  fill: white;
}

.link-text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  font-weight: 600;
  opacity: 0;
  transition-duration: 0.4s;
}

.link-Btn:hover {
  width: 110px;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.link-Btn:hover .link-text {
  opacity: 1;
  transition-duration: 0.4s;
}

.link-Btn:hover .link-svgIcon {
  opacity: 0;
  transition-duration: 0.3s;
}
